createdAt: "2018-04-23T12:27:04.360Z"
updatedAt: "2018-04-23T12:27:26.865Z"
type: "SNIPPET_NOTE"
folder: "3199f29cdae73984daf7"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
