createdAt: "2018-04-20T18:30:20.349Z"
updatedAt: "2018-04-20T18:46:02.958Z"
type: "MARKDOWN_NOTE"
folder: "ceeec5539e99008dff12"
title: "Android SDK usage"
content: '''
  # Android SDK usage
  
  ## General Notes
  
  The emulator from the AOSP is thought to work at tag `8.1.0_r1`. In turn, this implies API level 27 (Oreo). See [Codenames, Tags, and Build Numbers  |  Android Open Source Project](https://source.android.com/setup/start/build-numbers#source-code-tags-and-builds) for details.
  
  ## Initialization
  
  Download and extract the SDK. I downloaded `android-studio-ide-173.4670197-linux.zip`. Once it's extracted, `cd` into its directory and run `bin/studio.sh`.
  
  To do anything useful, you need a project. Download a sample project through the SDK GUI. You can complete further steps through the project window.
  
  ## Android Virtual Device (AVD)
  Use `Tools -> AVD Manager` to download new AVDs.
  
  ## SDKs
  Use `Tools -> SDK Manager` to download an SDK.
'''
tags: []
isStarred: false
isTrashed: false
