createdAt: "2018-04-20T17:48:07.693Z"
updatedAt: "2018-04-20T17:51:07.443Z"
type: "MARKDOWN_NOTE"
folder: "251dcf20058376c64781"
title: "VPN"
content: '''
  ## VPN
  
  ### VPN config
  
  ```
  dev tun
  persist-tun
  persist-key
  cipher AES-256-CBC
  auth SHA256
  tls-client
  client
  resolv-retry infinite
  remote 50.226.4.6 9997 udp
  lport 0
  verify-x509-name "twosix-otp-vpn-server-cert" name
  auth-user-pass
  pkcs12 einstein-udp-9997-matt.leinhos.p12
  tls-auth einstein-udp-9997-matt.leinhos-tls.key 1
  ns-cert-type server
  comp-lzo adaptive
  reneg-sec 0
  up   /etc/openvpn/update-resolv-conf
  down /etc/openvpn/update-resolv-conf
  ```
  
  ### Connect to VPN
  
  ```
  sudo openvpn --script-security 2 --config einstein-udp-9997-matt.leinhos.ovpn
  ```
  
  ## Laptop customizations
  
  I made my username match my VPN name; I'm not sure this was needed but it was hard to get the VPN to work
  
  TwoSix replaced `/etc/pam.d/common-auth` and `/etc/pam.d/common-password`
  
  ! Password problems
  
  I encountered a problem where I logged in, authenticated with `sudo` but then got locked out of `sudo` (invalid password error). It turned out I had exceeded the max number of failed logins. I fixed this with:
  
  ```
  pam_tally2 --user=matt.leinhos --reset
  ```
  
  ### DNS
  I had an issue with name resolution. DHCP was not updating the nameservers that were ultimately used by `/etc/resolv.conf`. I installed the package `dnsmasq` and that fixed the problem.
'''
tags: []
isStarred: false
isTrashed: false
